<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style/base.css" type="text/css" />
    </head>
    <body class="m-0">
        <div class="py-4">
            <div class="container">
                <h2>Hello, <strong>RiboGalaxy</strong> is running!</h>
                <br>
                <p style="text-align:center;"><img src="ribogalaxy_icon.png" alt="Logo"></p>
            </div>
            <br>
        <div class="container">
        <h4>  News </h4>
        <p> 
           RiboGalaxy recently underwent a major source code upgrade and is currently undergoing further development. 
           Please get in contact: <font color="purple">ribogalaxy@gmail.com</font> if you notice any bugs. 
        </p>   

        </div>
        <div class="container">
           <h4> About RiboGalaxy </h4> 
           <p> RiboGalaxy provides online tools for analysis of ribo-seq data obtained with ribosome profiling technique <a target="_blank" class="reference" href="https://www.science.org/doi/10.1126/science.1168978"> see Ingolia et al, 2009. </a>  
           </p>
           <p> It serves as a link between raw ribo-seq data and visualisation tools, such as transcriptome browser <a target="_blank" class="reference" href="http://trips.ucc.ie/">Trips-viz</a> and genome browser <a target="_blank" class="reference" href="https://gwips.ucc.ie/">GWIPs-viz. </a> </p>
           <p> The RiboGalaxy project is supported in part by a Grant from Science Foundation Ireland under Grant number 18/CRT/6214. </p>

        </div>
        <div class="container">
            <h4> About Galaxy </h4>
            <p>
                <a target="_blank" class="reference" href="http://galaxyproject.org/">
                Galaxy</a> is an open platform for supporting data intensive
                research. Galaxy is developed by <a target="_blank" class="reference" href="https://galaxyproject.org/galaxy-team/">The Galaxy Team</a>
                with the support of  <a target="_blank" class="reference" href="https://github.com/galaxyproject/galaxy/blob/dev/CONTRIBUTORS.md">many contributors</a>.
            </p>
            <footer>
                The <a target="_blank" class="reference" href="http://galaxyproject.org/">Galaxy Project</a>
                is supported in part by <a target="_blank" class="reference" href="http://www.genome.gov">NHGRI</a>,
                <a target="_blank" class="reference" href="http://www.nsf.gov">NSF</a>,
                <a target="_blank" class="reference" href="http://www.huck.psu.edu">The Huck Institutes of the Life Sciences</a>,
                <a target="_blank" class="reference" href="http://www.ics.psu.edu">The Institute for CyberScience at Penn State</a>,
                and <a target="_blank" class="reference" href="http://www.jhu.edu/">Johns Hopkins University</a>.
            </footer>
        </div>
    </body>
</html>
